<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{name}}</h1>
<p class="lead" >
  {{description}}
</p>
  <a href="/appartement" class="btn btn-primary btn-lg px-4 me-md-2"> Voir les appartements </a>