<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-lg-6">
    <h1
      class="display-5 fw-bold text-body-emphasis lh-1 mb-3"
    >
      {{name}}
    </h1>
    <p class="lead" >
      {{description}}
    </p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="/menus" class="btn btn-primary btn-lg px-4 me-md-2">
        Voir les appart
      </a>
    </div>
    <div class="p-3">
        <a href="/commandes" class="btn btn-secondary">Voir les commande</a>
      </div>
  </div>
</div>