<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Appartements</h1>
<p> Tous nos Appartements que nous vous avons.</p>
<div id="map">
    <script>
        //création de la carte
        var map = L.map('map').setView([43.919937, 2.139201], 12);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);


        var marker = L.marker([43.919937, 2.139201]).addTo(map);
        marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();

        var marker2 = L.marker([43.925800, 2.145657]).addTo(map);
        marker2.bindPopup("<b>Hello world2!</b><br>I am a popup.").openPopup();

        var popup = L.popup();

        function onMapClick(e) {
            popup
            .setLatLng(e.latlng)
            .setContent("You clicked the map at " + e.latlng.toString())
            .openOn(map);
        }

        map.on('click', onMapClick);

        map.on('focus', function() { map.scrollWheelZoom.enable(); });
        map.on('blur', function() { map.scrollWheelZoom.disable(); });

    </script>
</div>